__pycache__/w401solution.cpython-37.pyc
__pycache__/w402solution.cpython-37.pyc
__pycache__/w502solution.cpython-37.pyc
__pycache__/w502teachers.cpython-37.pyc
.DS_Store
__pycache__/w401solution.cpython-37.pyc
